<%=form_with url: "/search",method: :get,local: true do |f|%>
<%=f.text_field :playlist%>
<%=f.select :genre, ["j-rock","j-pop","hip-hop","anime","chill"],include_blank: '選択してください'%>
<%=f.submit "検索する"%>
<%end%>
<%=link_to "search",search_path%>
<%if @whole_tracks.present?%>
<%@whole_tracks.each do |t|%>
<%=t.name%>
<%end%>
<%else%>
<p>jkfjnfrjk</p>
<%end%>